* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  background-image: url(./img/novofrioback.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}


.container {
  width: 100%;
  max-width: 400px;
  margin: auto;
  text-align: center;
  padding: 20px;
  color: white;
  position: relative;
  z-index: 1;
}

.profile .logo {
  width: 120px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.profile h1 {
  font-size: 28px;
  margin-bottom: 5px;
}

.profile p {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 20px;
}

.links a {
  display: block;
  background-color: #0d0d0c;
  color: #f2f1f1;
  text-decoration: none;
  margin: 10px 0;
  padding: 12px 20px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.links a:hover {
  background-color: #dc8700e6;
}

footer {
  margin-top: 30px;
  font-size: 12px;
  color: #ffffff;
}
